*{
box-sizing:border-box;
}

body{

margin:0;
font-family:Arial;
background:#0f172a;
color:white;

}


.sidebar{

position:fixed;
left:0;
top:0;
width:240px;
height:100vh;
background:#020617;
padding:20px;

}


.logo{

font-size:24px;
font-weight:bold;
color:#38bdf8;

}


.menu a{

display:block;
padding:14px;
margin-top:10px;
background:#1e293b;
border-radius:10px;
color:white;
text-decoration:none;

}



.main{

margin-left:260px;
padding:25px;

}



.cards{

display:grid;
grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));

gap:20px;

}



.card{

background:#1e293b;
padding:20px;
border-radius:15px;

}



.value{

font-size:30px;
color:#38bdf8;

}



button{

padding:12px 20px;
border:0;
border-radius:10px;
background:#0284c7;
color:white;
cursor:pointer;

}



@media(max-width:700px){

.sidebar{

position:relative;
width:100%;
height:auto;

}


.main{

margin-left:0;

}

}
